<div class="products-wrapper">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div (click)="openAddNewProduct()" class="add-product" color="primary">
      <mat-icon>add_box</mat-icon>
    </div>
    <mat-form-field>
      Search
      <input matInput type="text" [(ngModel)]="searchQuery">
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="flex-start center">
    <div fxFlex="0 1 33.3%" fxLayout="column" fxLayoutAlign="center"
      *ngFor="let product of products | filter: searchQuery: 'name'" [ngClass]="{ 'hidden': product.isHidden }">
      <boot-products-list-item [product]="product"></boot-products-list-item>
    </div>
  </div>
</div>