<mat-card class="product-card"  [routerLink]="['/products', 'all', product.id]">
    <mat-card-header >
      <mat-card-title>{{ product?.name }}</mat-card-title>
      <mat-card-subtitle>Price: {{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <div class="product-card-img">
      <img mat-card-image [src]="product.imgUrl" alt="product.name">
    </div>
    <mat-card-content>
      <p class="product-card-content">
        {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-between">
      <button mat-raised-button color="warn" (click)="delete($event)">Delete</button>
      <button mat-raised-button color="primary" (click)="clone($event)">Clone</button>
    </mat-card-actions>
  </mat-card>